Methoden/Kategorie A/Eisenstadt 1.4/03 Source Code/Eisenstadt-Code/xmlFiles/xsd/busSimulation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Bussimulation"><!-- Rootelement, Bussimulation -->
    <xs:complexType>
      <xs:sequence><!-- Child Elements, were written out -->
        <xs:element ref="Strassennetz"/>
        <xs:element ref="SimuKonfiguration"/>
        <xs:element ref="SimuPanel"/>
        <xs:element ref="VirtualGrid"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Strassennetz"><!-- Strassennetz -->
    <xs:complexType>
      <xs:sequence><!-- Child Elements -->
        <xs:element ref="Haltestellen" minOccurs="0" maxOccurs="unbounded"/><!-- optional Childs -->
        <xs:element ref="Planquadrate" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="Ziele" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="Linien" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="GesperrteFelder" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Planquadrate"><!-- Planquadrate -->
    <xs:complexType>
      <xs:sequence><!-- optional sequences -->
        <xs:element ref="PlanquadratStrasse" minOccurs="0" maxOccurs="unbounded"/><!-- Strassen -->
        <xs:element ref="PlanquadratGesperrteStrasse" minOccurs="0" maxOccurs="unbounded"/><!-- Gesperrte Strassen -->
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlanquadratStrasse"><!-- Strassen -->
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Strasse" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="id" use="required"/><!-- Id -->
    </xs:complexType>
  </xs:element>
  <xs:element name="Strasse"><!-- Element Strasse -->
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="GesamtKosten"/><!-- Childs -->
        <xs:element ref="KostenStartBisPunkt"/>
        <xs:element ref="KostenPunktBisZiel"/>
        <xs:element ref="Point"/>
        <xs:element ref="Feldgroesse"/>
      </xs:sequence>
      <xs:attribute name="id" use="required"/><!-- Id -->
      <xs:attribute name="art" use="required"/><!-- Kind of Planquadrat -->
    </xs:complexType>
  </xs:element>
  <xs:element name="PlanquadratGesperrteStrasse"><!-- Gesperrte Strassen -->
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="GesperrteStrasse" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="id" use="required"/><!-- Id -->
    </xs:complexType>
  </xs:element>
  <xs:element name="GesperrteStrasse">
    <xs:complexType>
      <xs:sequence><!-- Childs -->
        <xs:element ref="GesamtKosten"/>
        <xs:element ref="KostenStartBisPunkt"/>
        <xs:element ref="KostenPunktBisZiel"/>
        <xs:element ref="Point"/>
        <xs:element ref="Feldgroesse"/>
      </xs:sequence>
      <xs:attribute name="art" use="required"/><!-- Kind of the barred Way -->
      <xs:attribute name="id" use="required"/><!-- Id -->
    </xs:complexType>
  </xs:element>
  <xs:element name="Ziele"><!-- Ziele -->
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Ziel" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ziel"><!-- goal -->
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Name"/><!--  name of the goal -->
        <xs:element ref="Point"/><!-- point of the goal, where is set up -->
      </xs:sequence>
      <xs:attribute name="id" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Linien"><!-- Linien -->
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Linie" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Linie">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Haltestellen"/>
        <xs:element ref="Teilstrecken"/>
        <xs:element ref="Color"/>
        <xs:element ref="MaxKapazitaetPassagiere"/>
        <xs:element ref="Wiederkehrzeit"/>
      </xs:sequence>
      <xs:attribute name="id" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Color" /><!-- simple Element -->
  <xs:element name="MaxKapazitaetPassagiere" /><!-- simple Element -->
  <xs:element name="Wiederkehrzeit" /><!-- simple Element -->
  <xs:element name="GesperrteFelder">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="GesperrtesFeld" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GesperrtesFeld"><!-- Gesperrte Haltestelle -->
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Name"/>
        <xs:element ref="Point"/>
      </xs:sequence>
      <xs:attribute name="id" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="SimuKonfiguration"><!-- Simulation Configuration -->
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="AktuelleAufloesung"/>
        <xs:element ref="GroessePlanquadrat"/>
        <xs:element ref="EinstellungenFrame"/>
        <xs:element ref="GroesseFeldelement"/>
        <xs:element ref="BusGeschwindigkeit"/>
        <xs:element ref="GehGeschwindigkeit"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AktuelleAufloesung">
    <xs:complexType>
      <xs:attribute name="resHeight" use="required"/>
      <xs:attribute name="resWidth" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="GroessePlanquadrat"/>
  <xs:element name="EinstellungenFrame">
    <xs:complexType>
      <xs:attribute name="height" use="required"/>
      <xs:attribute name="width" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="GroesseFeldelement"/><!-- simple Element -->
  <xs:element name="BusGeschwindigkeit"/><!-- simple Element -->
  <xs:element name="GehGeschwindigkeit" /><!-- simple Element -->
  <xs:element name="SimuPanel"><!-- SimuPanel, important for the simulation part -->
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="GroesseEditor"/>
        <xs:element ref="GroesseFelder"/>
        <xs:element ref="AnzahlFelder"/>
        <xs:element ref="BackgroundImage"/>
        <xs:element ref="Haltestellen"/>
        <xs:element ref="BusPanels"/>
        <xs:element ref="BenoetigteBusse"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GroesseEditor"/><!-- simple Element -->
  <xs:element name="GroesseFelder"/><!-- simple Element -->
  <xs:element name="AnzahlFelder"/><!-- simple Element -->
  <xs:element name="BackgroundImage">
    <xs:complexType>
      <xs:attribute name="height" use="required"/>
      <xs:attribute name="url" use="required"/>
      <xs:attribute name="width" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="BusPanels">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="BusPanel" minOccurs="0" maxOccurs="unbounded"/><!-- BusPanel -->
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BusPanel">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Image"/>
        <xs:element ref="Bus"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Image">
    <xs:complexType>
      <xs:attribute name="height" use="required"/>
      <xs:attribute name="url" use="required"/>
      <xs:attribute name="width" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="BenoetigteBusse">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Bus" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VirtualGrid" /><!-- VirtualGrid, simple Type -->
  <xs:element name="Haltestellen">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Haltestelle" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Haltestelle">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Name" minOccurs="0" />
        <xs:element ref="Kapazitaet" minOccurs="0" />
        <xs:element ref="Point" minOccurs="0" />
      </xs:sequence>
      <xs:attribute name="id" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Kapazitaet"/><!-- simple Element -->
  <xs:element name="GesamtKosten"/><!-- simple Element -->
  <xs:element name="KostenStartBisPunkt"/><!-- simple Element -->
  <xs:element name="KostenPunktBisZiel"/><!-- simple Element -->
  <xs:element name="Point"><!-- Point, with Coordinates -->
    <xs:complexType>
      <xs:attribute name="xEnd"/>
      <xs:attribute name="xStart"/>
      <xs:attribute name="xValue"/>
      <xs:attribute name="yEnd"/>
      <xs:attribute name="yStart"/>
      <xs:attribute name="yValue"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Feldgroesse">
    <xs:complexType>
      <xs:attribute name="height" use="required"/>
      <xs:attribute name="width" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Name"/>
  <xs:element name="Teilstrecken"><!-- Teilstrecken -->
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Teilstrecke" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Teilstrecke">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Name"/>
        <xs:element ref="StartPoint"/>
        <xs:element ref="EndPoint"/>
        <xs:element ref="Geschwindigkeit"/>
        <xs:element ref="Breite"/>
        <xs:element ref="Laenge"/>
      </xs:sequence>
      <xs:attribute name="id" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartPoint"><!-- Start of a Point -->
    <xs:complexType>
      <xs:attribute name="xValue" use="required"/>
      <xs:attribute name="yValue" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndPoint"><!-- End of a Point -->
    <xs:complexType>
      <xs:attribute name="xValue" use="required"/>
      <xs:attribute name="yValue" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Geschwindigkeit"/><!-- simple Element -->
  <xs:element name="Breite"/><!-- simple Element -->
  <xs:element name="Laenge"/><!-- simple Element -->
  <xs:element name="Bus">
    <xs:complexType>
      <xs:sequence minOccurs="0">
        <xs:element ref="BusLinie"/>
        <xs:element ref="HaltestelleJ"/>
        <xs:element ref="PassagierQueue"/>
        <xs:element ref="MaxKapazitaet"/>
        <xs:element ref="Position"/>
      </xs:sequence>
      <xs:attribute name="id" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="BusLinie">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="HaltestellenJ"/>
        <xs:element ref="MaxKapazitaet"/>
        <xs:element ref="Teilstrecken"/>
      </xs:sequence>
      <xs:attribute name="id" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="HaltestellenJ">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="HaltestelleJ" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PassagierQueue"><!-- Warteschlange, Passagiere -->
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Name"/>
        <xs:element ref="DurchschnittsLaenge"/>
        <xs:element ref="DurchschnittsWarteZeit"/>
        <xs:element ref="PassagierQueueLimit"/>
        <xs:element ref="PassagierQueueStrategie"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PassagierQueueLimit"/>
  <xs:element name="PassagierQueueStrategie"/>
  <xs:element name="Position">
    <xs:complexType>
      <xs:attribute name="xValue" use="required"/>
      <xs:attribute name="yValue" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="HaltestelleJ">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="BusWarteschlangeQueue" minOccurs="0"/>
        <xs:element ref="PassagierWarteschlangeQueue" minOccurs="0"/>
        <xs:element ref="Point" minOccurs="0"/>
        <xs:element ref="BusEinheiten" minOccurs="0"/>
        <xs:element ref="MaxKapazitaet" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BusWarteschlangeQueue">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Name"/>
        <xs:element ref="DurchschnittsLaenge"/>
        <xs:element ref="DurchschnittsWarteZeit"/>
        <xs:element ref="WarteschlangenLimit"/>
        <xs:element ref="WarteschlangenStrategie"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PassagierWarteschlangeQueue">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Name"/>
        <xs:element ref="DurchschnittsLaenge"/>
        <xs:element ref="DurchschnittsWarteZeit"/>
        <xs:element ref="WarteschlangenLimit"/>
        <xs:element ref="WarteschlangenStrategie"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BusEinheiten"/>
  <xs:element name="MaxKapazitaet"/>
  <xs:element name="DurchschnittsLaenge"/>
  <xs:element name="DurchschnittsWarteZeit"/>
  <xs:element name="WarteschlangenLimit"/>
  <xs:element name="WarteschlangenStrategie"/>
</xs:schema>
